[MASTER]
init-hook='import sys, os; sys.path.append(os.path.dirname(os.path.abspath(__file__)))'

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
